@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@200;400&family=Roboto:wght@300;500;900&display=swap'); 

:root{
    --padding-container: 100px 0;
    --color-title: rgb(238, 201, 15);
    --shd: -0.78px 1.84px 11px 2pxrgba(207,207,207,0.62);
}
/*Clases generales*/
body{
    font-family: 'Bebas Neue', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: #1E1D1C;
}
.nav{
    --padding-container: 0 ;
    height: 100px;
    display: flex;
    align-items: center;
}
/*Encabezado*/
.nav__logo{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    padding: 100px 0;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav__title{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 70px;
    letter-spacing: 20px;
    color: #EEEEEE;
}
/*Menu*/
.nav__container{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #EEEEEE;
    width: 100%;
}
.nav__bar{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 5em;
}
.nav__items{
    list-style: none;
}
.nav__links{
    color: var(--color-title) ;
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
    width: 100%;
    padding-top: 15px;
}
.nav__links:hover{
    color: #EEEEEE;
    border-top: 3px solid black;
}
.activado_link{
    color: #EEEEEE;
    border-top: 3px solid var(--color-title); 
}
.activado_link:hover{
    border: none;
    color: #EEEEEE;  
}

/*seccion1*/
.seccion1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
    padding: 20px;
}
.izqS1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.izqS1 h2{
    color: #EEEEEE;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 110px;
    letter-spacing: 20px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 90px;
}
.izqS1 h3{
    color: #5B5A59;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 22px;
    letter-spacing: 6px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 120px;
}
.botonesS1{
    margin-top: 100px;
    display: flex;
    justify-content:space-evenly;
    width: 100%;
}
.Blanco_button{
    background-color: #EEEEEE;
    color: #1E1D1C;
    border: none;
    border-radius: 15px;
    padding: 15px 45px;
    box-shadow: var(--shd,0 1px 4px rgba(0,0,0,.6));
    margin-bottom: 50px;
    margin-top: 30px;
}
.Blanco_button:hover{
    background-color: var(--color-title) ;
}
.derS1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    justify-content: flex-end;
}
.derS1 img{
    filter: sepia(.4);
    z-index: -1;
    object-fit: cover;
    width: 100%;
    height: 860px;
}
.textDerS1{
    background-color: #1e1d1c7e;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    margin-top: 500px;
}
.textDerS1 h2{
    color: #EEEEEE;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 60px;
    letter-spacing: 10px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}
.textDerS1 p{
    color: #EEEEEE;
    font-weight: 300;
    text-align: center;
    width: 80%;
}

/*Seccion 2*/

.imgSec2{
    width: 100%;
    z-index: -1;
}

.btnSec2{
    position: absolute;
    background-color: black;
    color: #EEEEEE;
    border-radius: 15px;
    padding: 15px 45px;
    border: none;
    top: 2150px;
    left: 175px;
}

.btnSec2:hover{
    background-color: #EEEEEE;
    color: black;
}

/*Secccion 3*/

.Seccion3{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.hojaInfoS3{
    background-color: #EEEEEE;
    padding: 30px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 40%;
    margin-top: 30px;
}

.hojaInfoS3 h2{
    font-weight: 900;
    font-size: 50px;
    width: 100%;
    text-align: center;
}

.hojaInfoS3 h3{
    width: 100%;
    text-align: center;
    font-weight: 300;
    font-size: 28px;
    text-align: center;
}

.hojaInfoS3 p{
    width: 100%;
    text-align: center;
    font-weight: 300;
    font-size: 15px;
    text-align: center;
}

.hojaInfoS3 button{
    background-color: var(--color-title);
    color: black;
    border: none;
    border-radius: 15px;
    padding: 15px 45px;
    margin-top: 30px;
}
.hojaInfoS3 button:hover{
    background-color: black;
    color: #EEEEEE;
}
/*Secccion 4*/
.section4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    margin-top: 30px;
    margin: 25px 2.5%;
    border-radius: 25px;
    background-color: #EEEEEE;
}
/*Seccion 5*/

.seccion5{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 80px 0px;
}

.seccion5 h2{
    color: var(--color-title);
    font-weight: 300;
    font-size: 30px;
    margin: 20px 0px;
}
.buscador{
    display: flex;
    justify-content: space-between;
}

.buscador input{
    border: none;
    color: black;
    border: none;
    border-radius: 15px 0px 0px 15px;
    padding: 15px 45px;
    margin-top: 30px;
    width: 650px;
}
.buscador button{
    background-color: var(--color-title);
    color: black;
    border: none;
    border-radius: 0px 15px 15px 0px;
    padding: 15px 45px;
    margin-top: 30px;
}

.buscador button:hover{
    background-color: #EEEEEE;
    color: black;
}


/*seccion 6*/
 .nav__pagraph{
     padding: 50px;
     display: flex;
     align-items: center;
     justify-content: flex-start;
     width: 100%;
     margin-top: 10px;
 }
 .nav__pagraph p{
    font-family: 'Poppins', sans-serif;
    font-weight: 35;
    font-size: 15px;
    letter-spacing: 2px;
    text-align: justify;
    font-variant-caps: all-small-caps;
    color: #eeeeee7e;
}
